body {
    background-color:#292929;
    text-transform: none;
}


/* Navigation Menu */
.navigation-menu {
    width: 99%;
    position: absolute;
    top: 0px;
    z-index: 9999;
    background: #4d4d63 left center repeat-x scroll;
}
.ui-helper-clearfix {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #292929;
    font-family: Arial;
    font-size: 15px;
}
li {
    float: left;
}
li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    cursor: pointer;
}
li a:hover {
    background-color: #1E1E1E;
}
li a.state-active {
    background-color: #742632;
}


/* Site Top */
.esmeretop {
    width: 100%;
    min-width: 1180px;
    height: 90px;
    padding-top: 110px;
    background-color: #4D4D63;
    border-bottom: solid 35px #eeeeee;
}

header {
    height: 600px;
    background-color: #2d2d2d;
    background-image: url(http://danielkordan.com/wp-content/uploads/2015/09/DSC0796-1400x630.jpg);
    background-position: center;
    background-repeat: repeat;
    vertical-align: middle;
    padding: 0px 20px;
    text-align: left;
    overflow: hidden;
}


/*Login*/
.outer-left {
    background:#333333;
    width:260px;
    z-index:20;
    border-bottom:3px solid #742632;
    padding:10px 30px 10px 75px;
    margin: 115px 0 0 0;
    font-size:20px;
    color:#fff;
    position:absolute;
    left:-50px;
}
.outer-left:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #292929;
    border-bottom: 4px solid #742632;
    border-right: 17px solid #742632;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
}


/*Hover Effect*/
.headerhover {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.headerhover .site-info {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 12%;
    border-bottom: 2px solid #FFF;
    border-top: 2px solid #FFF;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    -ms-transform: scale(0,1);
    transform: scale(0,1);
}

.headerhover:hover .site-info {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.headerhover h2 {
    text-transform: uppercase;
    text-align: right;
    position: relative;
    font-size: 45px;
    font-family: arial;
    background-color: transparent;
    color: #742632;
    padding: 15px 0;
    margin-right: 25px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
}
.headerhover h1 {
    text-transform: uppercase;
    text-align: right;
    position: relative;
    font-size: 15px;
    font-style: italic;
    font-family: raleway;
    background-color: transparent;
    color: #742632;
    padding: 12px 0;
    margin: -76px 30px 35px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
}

.headerhover a, headerhover p {
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

.headerhover:hover a, .headerhover:hover p, .headerhover:hover h2, .headerhover:hover h1 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


/*Header Information Boxes*/
.info1 {
    background-color: #742632;
    font-family: arial;
    font-size: 12pt;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-style: italic;
    padding: 8px;
}

.info1box {
    background-color: #ffffff;
    font-family: arial;
    font-size: 11px;
    text-align: justify;
    color: #444444;
    padding: 10px;
}
.info1scroll {
    height: 70px;
    overflow: auto;
    padding-right: 6px;
}
::-webkit-scrollbar {
    background-color: #222222;
    border: #ffffff solid 3px;
    width: 7px;
}
::scrollbar-thumb element
.info1scroll::-webkit-scrollbar-thumb {
    background-color: #222222;
}
::-webkit-scrollbar-thumb {
    background-color: #742632;
    border-left: #ffffff solid 2px;
    border-right: #ffffff solid 2px;
    border-radius: 10px;
}

.esmerestaff {
    height: 50px;
    border: solid 3px #fff;
}


/*Navigation Tree*/
